<div id="demo-modal" class="modal">
    <p>Enter your name and email address to try out Kùzu!</p>
    <p class="demo-modal-error-wrapper" id="demo-modal-error-name">
        <span>
            <i class="fa-solid fa-circle-exclamation"></i>
        </span>
        Please enter your name.
    </p>
    <p class="demo-modal-error-wrapper" id="demo-modal-error-email">
        <span>
            <i class="fa-solid fa-circle-exclamation"></i>
        </span>
        Please enter a valid email address.
    </p>
    <input type="text" name="name" id="demo-name" placeholder="Name" class="demo-input" />
    <input type="email" name="email" id="demo-email" placeholder="Email Address" class="demo-input" />
    <div class="demo-modal-buttons">
        <button class="button primary" id="demo-modal-submit">
            Try Kùzu
        </button>
        &nbsp;
        <button class="button primary demo-modal-close">
            Close
        </button>
    </div>
</div>