<section id="download" class="main special">
  <header class="major">
    <h2>Download</h2>
  </header>
  <div>
    <ul class="actions fit small" id="download-language"></ul>
  </div>
  <div id="download-platform-container" style="display: none">
    <ul class="actions fit small" id="download-platform"></ul>
  </div>
  <div id="download-command-container" style="display: none">
    <pre class="download-command-container-pre"><code id="download-command"></code></pre>
  </div>
  <small class="detected-platform">
    <b>Version:</b>
    <span id="version-span"></span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <b>System detected:</b>
    <span id="detected-platform-span"></span>
  </small>
</section>