<head>
  <title>Kùzu</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Kùzu" />
  <meta property="og:image" content="https://kuzudb.com/img/logo-u-with-orange-tick.jpg" />
  <meta property="og:type" content="article" />
  <meta name="twitter:card" content="summary" />
  <meta property="twitter:image" content="https://kuzudb.com/img/logo-u-with-orange-tick.jpg" />
  <meta name="twitter:site" content="@kuzudb" />
  <meta name="description" content="Kùzu is an embedded graph database that supports the Cypher query language. Built by a team of database experts with a relentless drive towards performance, scalability and usability, Kùzu offers a state-of-the-art query processor for graphs and is the ideal foundation for your graph-based analytical applications.">

  <link rel="stylesheet" href="assets/css/fontawesome.min.css" />
  <link rel="stylesheet" href="assets/css/fontawesome-all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" />
  <link rel="stylesheet" href="assets/css/jquery.modal.min.css" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="assets/css/noscript.css" />
  </noscript>
</head>
