<section id="newsletter" class="main newsletter special">
    <h1>Subscribe to Our Newsletter</h1>
    <input type="email" name="email" id="newsletter-email" placeholder="Email Address" />
    <p class="newsletter-message" id="newsletter-error">
        <span>
            <i class="fa-solid fa-circle-exclamation"></i>
        </span>
        Please enter a valid email address.
    </p>
    <p class="newsletter-message" id="newsletter-success">
        <span>
            <i class="fa-solid fa-circle-check"></i>
        </span>
        Thank you for subscribing!
    </p>
    <button id="newsletter-submit">
        Submit
    </button>

</section>
