<section id="quotes" class="main quotes">
  <div class="buttons" id="quote-buttons">
    <i class="fa-solid fa-chevron-up" id="next-quote"></i>
    <i class="fa-solid fa-chevron-down" id="prev-quote"></i> 
  </div>
  <div class="quote">
    <i class="fa-solid fa-quote-left"></i>
    <p id="quote-text">
    </p>
    <i class="fa-solid fa-quote-right"></i>
    <small class="name-title">
      <span id="quote-name"></span> 
      <a href="#"
        target="_blank" id="quote-company"></a>
    </small>
  </div>

  <div class="bio">
    <img id="quote-img" >
    <img id="quote-logo" >
  </div>
</section>