<section id="support" class="main special">
  <header class="major">
    <h2>Kùzu Support Options</h2>
  </header>
  <div class="support">
    <div class="summary">
      Kùzu Inc. offers commercial support for Kùzu, ensuring timely responses and flexible coverage.
      <a href="mailto:contact@kuzudb.com">
        Contact us</a>
      for more
      information.

    </div>
    <div class="support-options">
      <div class="free">
        <small>Free</small>
        <h2>Community Support</h2>
        <hr>
        <ul>
          <li>
            <i class="fa-regular fa-circle-check"></i>&nbsp;
            Public issue tracker
          </li>
          <li>
            <i class="fa-regular fa-circle-xmark"></i>&nbsp;
            No guaranteed response time
          </li>
          <li>
            <i class="fa-regular
                        fa-circle-xmark"></i>&nbsp;
            No guaranteed resolution
          </li>
        </ul>

        <a class="button secondary" href="https://github.com/kuzudb/kuzu/issues/" target="_blank">Get
          Started</a>

      </div>
      <div class="premium">
        <small>Negotiable</small>
        <h2>Custom Support</h2>
        <hr>

        <ul>
          <li>
            <i class="fa-regular fa-circle-check"></i>&nbsp;
            Private issue tracker
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>&nbsp;
            Guaranteed response time
          </li>

          <li>
            <i class="fa-regular fa-circle-check"></i>&nbsp;
            Deployment and performance advice
          </li>
        </ul>

        <a href="mailto:contact@kuzudb.com" class="button primary">Contact Us</a>
      </div>
    </div>
  </div>
</section>